include README.TXT
include INSTALL.TXT
include AUTHORS.TXT
include LICENSE.TXT
include TODO.TXT
include CHANGELOG.TXT
include AUTHORS.TXT
include THANKS.TXT
graft docs/_build/html
prune docs/_build/html/.git
exclude docs/_build/html/.nojekyll
include docs/_build/latex/pycddlib.pdf
