include README.rst
include INSTALL.rst
include AUTHORS.TXT
include LICENSE.TXT
include TODO.TXT
include CHANGELOG.rst
include AUTHORS.TXT
include THANKS.TXT
graft docs/_build/html
prune docs/_build/html/.git
exclude docs/_build/html/.nojekyll
include docs/_build/latex/improb.pdf
